*{
    padding: 0;
    margin: 0;
}

.box{
    border: 5px solid black;
    height: 1280px;
    width: 900px;
    background-color: #fff5d7;
    margin:10px 0px 0px 300px;
   
}

.img{

    height: 300px;
    width: 250px;
    border-radius: 40%;
   
    margin: 80px 0px 0px 100px;
    background-image: url(APJ.kalam.jpg);
    background-size: cover;
}

.head-text{
  
    height: 150px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 350px;
    bottom: 90px;
    letter-spacing: 0.9px;
}

.head-text p{
    margin: 5px 0px 0px 140px;
    font-weight: 600;
}

.main{

    height: 500px;
    width: 750px;
    position: relative;
    bottom: 60px;
    left: 70px;
}
.main h1{
    font-size: 45px;
}
.main p{
    font-size: 17px;
    margin-top: 15px;
    line-height: 25px;
    letter-spacing: 0.7px;
}


.main1{
 
    height: 500px;
    width: 730px;
    margin-left: 80px;
    position: relative;
    bottom: 160px;
}
.main1 h3{
    margin-bottom: 15px;
    position: relative;
    right: 10px;
}
.main1 li{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.7px;
}


footer{
    position: relative;
    bottom: 300px;
    left: 500px;
}